<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits__top">
      <h2 class="benefits__title section-title">
        Работающий маркетинг <br />
        <span class="color-accent"> для Ваших продаж</span>
      </h2>
      <p class="benefits__text">
        Маркетинговое агентство полного цикла по онлайн продвижению <br />
        малого и среднего бизнеса в Интернете и соцсетях
      </p>
    </div>
    <ul class="benefits__list">
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/1.webp" type="image/webp" />
            <img src="img/benefits/1.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Комплекс услуг</span>
          </div>
          <div class="benefits-item__body">
            <p>
              У нас вы можете заказать комплекс услуг по продвижению бизнеса,
              что сэкономит ваше время и деньги
            </p>
          </div>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/2.webp" type="image/webp" />
            <img src="img/benefits/2.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Вовлеченность в проект</span>
          </div>
          <div class="benefits-item__body">
            <p>
              Наша команда вникает во все тонкости Вашего бизнеса и готовит
              персональное проработанное предложение
            </p>
          </div>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/3.webp" type="image/webp" />
            <img src="img/benefits/3.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Ответственность</span>
          </div>
          <div class="benefits-item__body">
            <p>
              У нас работает команда профессионалов, которая подберет лучшие
              решения для Вашего бизнеса
            </p>
          </div>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/4.webp" type="image/webp" />
            <img src="img/benefits/4.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Адекватные цены</span>
          </div>
          <div class="benefits-item__body">
            <p>
              У нас есть разные варианты пакетов и отдельных услуг, которые
              подойдут под любой тип бизнеса
            </p>
          </div>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/5.webp" type="image/webp" />
            <img src="img/benefits/5.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Качество</span>
          </div>
          <div class="benefits-item__body">
            <p>
              Скорость и качество нашей работы высоко ценят наши клиенты. Мы
              умеем достигать целей и перевыполнять показатели
            </p>
          </div>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__img">
          <picture>
            <source srcset="img/benefits/6.webp" type="image/webp" />
            <img src="img/benefits/6.png" alt="img" />
          </picture>
        </div>
        <div class="benefits-item__inner">
          <div class="benefits-item__top">
            <span class="benefits-item__name">Профессионалы</span>
          </div>
          <div class="benefits-item__body">
            <p>
              Все наши сотрудники проходят внутренние обучение и сдают экзамены
              до начала работы с клиентами
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
