<section class="cases" id="cases">
  <div class="container">
    <h2 class="cases__title section-title">
      <span class="color-gray">Решаем бизнес-задачи</span> нестандартными
      методами
    </h2>

    <ul class="cases__items">
      <li class="cases__item">
        <article class="cases-card">
          <div class="cases-card__top">
            <span class="cases-card__number"> 01 </span>
            <h3 class="cases-card__title">Ремонт квартир в Санкт-Петербурге</h3>
          </div>
          <div class="cases-card__body">
            <div class="cases-card__img">
              <picture>
                <source srcset="img/cases/1.webp" type="image/webp" />
                <img class="image" src="img/cases/1.jpg" alt="" />
              </picture>
            </div>
            <ul class="cases-card__list">
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/target.png" alt="img" />
                  <h4 class="cases-card__item-title">Цель</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>Заявки на ремонт квартир в Санкт-Петербурге</p>
                </div>
              </li>
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/gear.png" alt="img" />
                  <h4 class="cases-card__item-title">Что сделано</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Таргетированная реклама Вконтакте. Потрачено 1 304 521.49
                    рублей рекламного бюджета.
                  </p>
                </div>
              </li>
              <li class="cases-card__item cases-card__item--big">
                <div class="cases-card__icon">
                  <img src="img/check-cases.png" alt="img" />
                </div>
                <div class="cases-card__item-top">
                  <img src="img/star.png" alt="img" />
                  <h4 class="cases-card__item-title">Результат</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>• 3469 заявок за 1,3 млн рублей</p>
                  <p>• стоимость одной заявки: 375 рублей</p>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="cases__item">
        <article class="cases-card">
          <div class="cases-card__top">
            <span class="cases-card__number"> 02 </span>
            <h3 class="cases-card__title">
              Кухни и мебель на заказ в Оренбурге
            </h3>
          </div>
          <div class="cases-card__body">
            <div class="cases-card__img">
              <picture>
                <source srcset="img/cases/2.webp" type="image/webp" />
                <img class="image" src="img/cases/2.jpg" alt="" />
              </picture>
            </div>
            <ul class="cases-card__list">
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/target.png" alt="img" />
                  <h4 class="cases-card__item-title">Цель</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Повторить результат своего коллеги, но уже в другом городе.
                  </p>
                </div>
              </li>
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/gear.png" alt="img" />
                  <h4 class="cases-card__item-title">Что сделано</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Таргетированная реклама в инстаграм на этот квиз — потратив
                    на бюджет 18 927, 15 рублей. Создан квиз-сайт на 7 вопросов.
                  </p>
                </div>
              </li>
              <li class="cases-card__item cases-card__item--big">
                <div class="cases-card__icon">
                  <img src="img/check-cases.png" alt="img" />
                </div>
                <div class="cases-card__item-top">
                  <img src="img/star.png" alt="img" />
                  <h4 class="cases-card__item-title">Результат</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>92 заявки за 30 дней по 205 рублей.</p>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="cases__item">
        <article class="cases-card">
          <div class="cases-card__top">
            <span class="cases-card__number"> 03 </span>
            <h3 class="cases-card__title">Клиенты для агенства недвижимости</h3>
          </div>
          <div class="cases-card__body">
            <div class="cases-card__img">
              <picture>
                <source srcset="img/cases/3.webp" type="image/webp" />
                <img class="image" src="img/cases/3.jpg" alt="" />
              </picture>
            </div>
            <ul class="cases-card__list">
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/target.png" alt="img" />
                  <h4 class="cases-card__item-title">Цель</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Привлечении клиентов на покупку квартиры в новостройке для
                    агенства недвижимости
                  </p>
                </div>
              </li>
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/gear.png" alt="img" />
                  <h4 class="cases-card__item-title">Что сделано</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Запуск рекламы в Яндекс директе — на поиск и через
                    рся(рекламная сеть Яндекса) Создание квиз-сайт на каждый ЖК
                    в городе
                  </p>
                </div>
              </li>
              <li class="cases-card__item cases-card__item--big">
                <div class="cases-card__icon">
                  <img src="img/check-cases.png" alt="img" />
                </div>
                <div class="cases-card__item-top">
                  <img src="img/star.png" alt="img" />
                  <h4 class="cases-card__item-title">Результат</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>5 370 заявок по 133 рубля</p>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="cases__item">
        <article class="cases-card">
          <div class="cases-card__top">
            <span class="cases-card__number"> 04 </span>
            <h3 class="cases-card__title">
              ООО «Креадом» — строительство домов в Твери
            </h3>
          </div>
          <div class="cases-card__body">
            <div class="cases-card__img">
              <picture>
                <source srcset="img/cases/4.webp" type="image/webp" />
                <img class="image" src="img/cases/4.jpg" alt="" />
              </picture>
            </div>
            <ul class="cases-card__list">
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/target.png" alt="img" />
                  <h4 class="cases-card__item-title">Цель</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Привлечении клиентов на покупку домов в Твери и Тверской
                    области
                  </p>
                </div>
              </li>
              <li class="cases-card__item">
                <div class="cases-card__item-top">
                  <img src="img/gear.png" alt="img" />
                  <h4 class="cases-card__item-title">Что сделано</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>
                    Запуск рекламы Вконтакте Потрачено 50 398 рублей рекламного
                    бюджета
                  </p>
                </div>
              </li>
              <li class="cases-card__item cases-card__item--big">
                <div class="cases-card__icon">
                  <img src="img/check-cases.png" alt="img" />
                </div>
                <div class="cases-card__item-top">
                  <img src="img/star.png" alt="img" />
                  <h4 class="cases-card__item-title">Результат</h4>
                </div>
                <div class="cases-card__item-body">
                  <p>106 заявок. Стоимость заявки: 476 рублей</p>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>

    <div class="cases-accordions">
      <div class="cases-accordions__accordion accordion">
        <div class="cases-accordions__control accordion-control-btn">
          <div class="cases-accordions__control-left">
            <span class="cases-accordions__control-number">01</span>
            <h3 class="cases-accordions__control-title">
              Ремонт квартир в Санкт-Петербурге
            </h3>
          </div>

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <div class="cases-accordions__content accordion-content">
          <div class="cases-accordions__inner">
            <div class="cases-card">
              <div class="cases-card__body">
                <div class="cases-card__img">
                  <picture>
                    <source srcset="img/cases/1.webp" type="image/webp" />
                    <img class="image" src="img/cases/1.jpg" alt="" />
                  </picture>
                </div>
                <ul class="cases-card__list">
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/target.png" alt="img" />
                      <h4 class="cases-card__item-title">Цель</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>Заявки на ремонт квартир в Санкт-Петербурге</p>
                    </div>
                  </li>
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/gear.png" alt="img" />
                      <h4 class="cases-card__item-title">Что сделано</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Таргетированная реклама Вконтакте. Потрачено 1 304
                        521.49 рублей рекламного бюджета.
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item cases-card__item--big">
                    <div class="cases-card__icon">
                      <img src="img/check-cases.png" alt="img" />
                    </div>
                    <div class="cases-card__item-top">
                      <img src="img/star.png" alt="img" />
                      <h4 class="cases-card__item-title">Результат</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>• 3469 заявок за 1,3 млн рублей</p>
                      <p>• стоимость одной заявки: 375 рублей</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cases-accordions__accordion accordion">
        <div class="cases-accordions__control accordion-control-btn">
          <div class="cases-accordions__control-left">
            <span class="cases-accordions__control-number">02</span>
            <h3 class="cases-accordions__control-title">
              Кухни и мебель на заказ в Оренбурге
            </h3>
          </div>

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <div class="cases-accordions__content accordion-content">
          <div class="cases-accordions__inner">
            <div class="cases-card">
              <div class="cases-card__body">
                <div class="cases-card__img">
                  <picture>
                    <source srcset="img/cases/2.webp" type="image/webp" />
                    <img class="image" src="img/cases/2.jpg" alt="" />
                  </picture>
                </div>
                <ul class="cases-card__list">
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/target.png" alt="img" />
                      <h4 class="cases-card__item-title">Цель</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Повторить результат своего коллеги, но уже в другом
                        городе.
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/gear.png" alt="img" />
                      <h4 class="cases-card__item-title">Что сделано</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Таргетированная реклама в инстаграм на этот квиз —
                        потратив на бюджет 18 927, 15 рублей. Создан квиз-сайт
                        на 7 вопросов.
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item cases-card__item--big">
                    <div class="cases-card__icon">
                      <img src="img/check-cases.png" alt="img" />
                    </div>
                    <div class="cases-card__item-top">
                      <img src="img/star.png" alt="img" />
                      <h4 class="cases-card__item-title">Результат</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>92 заявки за 30 дней по 205 рублей.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cases-accordions__accordion accordion">
        <div class="cases-accordions__control accordion-control-btn">
          <div class="cases-accordions__control-left">
            <span class="cases-accordions__control-number">03</span>
            <h3 class="cases-accordions__control-title">
              Клиенты для агентства недвижимости
            </h3>
          </div>

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <div class="cases-accordions__content accordion-content">
          <div class="cases-accordions__inner">
            <div class="cases-card">
              <div class="cases-card__body">
                <div class="cases-card__img">
                  <picture>
                    <source srcset="img/cases/3.webp" type="image/webp" />
                    <img class="image" src="img/cases/3.jpg" alt="" />
                  </picture>
                </div>
                <ul class="cases-card__list">
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/target.png" alt="img" />
                      <h4 class="cases-card__item-title">Цель</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Привлечении клиентов на покупку квартиры в новостройке
                        для агенства недвижимости
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/gear.png" alt="img" />
                      <h4 class="cases-card__item-title">Что сделано</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Запуск рекламы в Яндекс директе — на поиск и через
                        рся(рекламная сеть Яндекса) Создание квиз-сайт на каждый
                        ЖК в городе
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item cases-card__item--big">
                    <div class="cases-card__icon">
                      <img src="img/check-cases.png" alt="img" />
                    </div>
                    <div class="cases-card__item-top">
                      <img src="img/star.png" alt="img" />
                      <h4 class="cases-card__item-title">Результат</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>5 370 заявок по 133 рубля</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cases-accordions__accordion accordion">
        <div class="cases-accordions__control accordion-control-btn">
          <div class="cases-accordions__control-left">
            <span class="cases-accordions__control-number">04</span>
            <h3 class="cases-accordions__control-title">
              ООО “Креадом” - строительство домов в Твери
            </h3>
          </div>

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <div class="cases-accordions__content accordion-content">
          <div class="cases-accordions__inner">
            <div class="cases-card">
              <div class="cases-card__body">
                <div class="cases-card__img">
                  <picture>
                    <source srcset="img/cases/4.webp" type="image/webp" />
                    <img class="image" src="img/cases/4.jpg" alt="" />
                  </picture>
                </div>
                <ul class="cases-card__list">
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/target.png" alt="img" />
                      <h4 class="cases-card__item-title">Цель</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Привлечении клиентов на покупку домов в Твери и Тверской
                        области
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item">
                    <div class="cases-card__item-top">
                      <img src="img/gear.png" alt="img" />
                      <h4 class="cases-card__item-title">Что сделано</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>
                        Запуск рекламы Вконтакте Потрачено 50 398 рублей
                        рекламного бюджета
                      </p>
                    </div>
                  </li>
                  <li class="cases-card__item cases-card__item--big">
                    <div class="cases-card__icon">
                      <img src="img/check-cases.png" alt="img" />
                    </div>
                    <div class="cases-card__item-top">
                      <img src="img/star.png" alt="img" />
                      <h4 class="cases-card__item-title">Результат</h4>
                    </div>
                    <div class="cases-card__item-body">
                      <p>106 заявок. Стоимость заявки: 476 рублей</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cases__bottom">
      <button class="cases__more" type="button">
        ПОСМОТРЕТЬ <br />
        ЕЩЕ
      </button>
    </div>
  </div>
</section>
