<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Свяжитесь с нами</h2>
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <div class="contacts__socials">
          <div class="contacts__icon">
            <img src="img/phone-orange.png" alt="icon" />
          </div>
          <a class="contacts__phone" href="#">+7 (952) 062-27-62</a>

          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link socials__link--whatsapp"
                href="https://wa.me/79520622762?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C%2C%20%D0%BF%D0%B8%D1%88%D1%83%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%2C%20%D0%BF%D0%BE%20%D0%BF%D0%BE%D0%B2%D0%BE%D0%B4%D1%83%20%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2%20%D0%B2%20%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81"
                target="_blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
                WhatsApp
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--telegram"
                href="https://t.me/samoletmarketing"
                target="_blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
                Telegram
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--vk"
                href="https://vk.com/komarovmarketing"
                target="_blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
                Вконтакте
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--youtube"
                href="https://www.youtube.com/@komarovmarketing"
                target="_blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#youtube"></use>
                </svg>
                Youtube
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--instagram"
                href="https://www.instagram.com/samoletmarketing/"
                target="_blank"
              >
                <svg class="">
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
      <form class="contacts__form form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label">Имя</label>
          <input
            class="form-submit__input"
            type="text"
            placeholder="Введите Ваше имя"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label">Город и ниша</label>
          <input
            class="form-submit__input"
            type="text"
            placeholder="Введите Ваш город и нишу"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label">Телефон</label>
          <input
            class="form-submit__input"
            type="text"
            placeholder="Введите Ваш контактный телефон"
          />
        </div>
        <div class="form-submit__bottom">
          <button class="form-submit__btn btn" type="submit">Отправить</button>
          <p class="form-submit__text">
            Нажимая кнопку вы даете согласие <br />
            на
            <a href="#">обработку персональных данных</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
