<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <span>
        Индивидуальный предприниматель
        <small>Комаров Константин Анатольевич</small>
      </span>
      <span>ОГРНИП — 321695200013092</span> <span>ИНН — 695206998949</span>
      <a
        href="https://docs.google.com/document/d/1jJlOsOkTqTw0THYSFyIn5z8rxZeKy4Bp7qRaKwVOfoA/edit?usp=sharing"
        target="_blank"
      >
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>
