<section class="hero">
  <div class="container">
    <ul class="hero-socials">
      <li class="hero-socials__item">
        <a class="hero-socials__link" href="#">
          WhatsApp

          <span class="hero-socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="hero-socials__item">
        <a class="hero-socials__link" href="#">
          Vkontakte
          <span class="hero-socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="hero-socials__item">
        <a class="hero-socials__link" href="#">
          Telegram
          <span class="hero-socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
    <div class="hero__top">
      <h1 class="hero__title">
        Настроим поток <br />
        клиентов в ваш бизнес
      </h1>
      <p class="hero__text">за счет методик проверенных на 300+ компаниях</p>
      <a class="hero__btn btn link-anchor" href="#contacts">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
    </div>

    <div class="hero__bottom">
      <div class="hero__item">
        <div class="hero__icon">
          <img src="img/hero/check.png" alt="img" />
        </div>
        <b> У 80% компаний рост прибыли х2 </b> <br />
        <span>решаем за счет повышения количества заявок в 2,5 раза</span>
      </div>
      <div class="hero__item">
        <div class="hero__icon">
          <img src="img/hero/check.png" alt="img" />
        </div>
        <b>Проверенные методики </b>
        <span>
          привлечения <br />
          клиентов во все сферы бизнеса
        </span>
      </div>
    </div>

    <a class="hero__arrow link-anchor" href="#benefits">
      <svg>
        <use xlink:href="img/sprite.svg#chevron"></use>
      </svg>
    </a>
  </div>
</section>
