<section class="reporting" id="cases">
  <div class="container">
    <h2 class="reporting__title">Оцифровка и отчетность</h2>

    <div class="reporting__items">
      <div class="reporting__item">
        <p>
          Вы будете иметь полную картину текущей ситуации по вашим рекламным
          каналам. И не просто банальное число кликов, расход денег и т.п. Вы
          будете знать значения именно тех показателей, которые дадут вам
          понимание динамики работы интернет-маркетинга в вашем бизнесе.
        </p>
      </div>
      <div class="reporting__item">
        <p>
          Вы будете иметь полную картину текущей ситуации по вашим рекламным
          каналам. И не просто банальное число кликов, расход денег и т.п. Вы
          будете знать значения именно тех показателей, которые дадут вам
          понимание динамики работы интернет-маркетинга в вашем бизнесе.
        </p>
      </div>
    </div>

    <div class="advantages">
      <div class="advantages__wrapper">
        <div class="advantages__item">
          <span class="advantages__name"
            >Гарантия чистого целевого трафика</span
          >
          <p class="advantages__text">
            Мы гарантируем вам на сайт только целевых посетителей. То есть тех
            людей, которые ищут именно ваш товар или услугу. Другими словами, мы
            возвращаем вам стоимость нецелевых кликов, если такие будут. Ваш
            рекламный бюджет застрахован от “слива”.
          </p>
        </div>
        <div class="advantages__item">
          <span class="advantages__name">Повышаем конверсию</span>
          <p class="advantages__text">
            В период абонентского обслуживания мы работаем над увеличением
            конверсии вашего сайта. Наш опыт и знания позволяютделать это. Не
            каждая команда по контекстной рекламе имеет такие навыки.
          </p>
        </div>
        <div class="advantages__item">
          <span class="advantages__name">Аккаунт — ваша собственность</span>
          <p class="advantages__text">
            Мы работаем на вашем аккаунте. Или делаем новый и передаем вам. В
            любом случае аккаунт будет принадлежать вам. Большинство агентств
            работают на своих аккаунтах, и их оплата привязана к расходу
            рекламного бюджета клиента. И при вашей попытке разорвать с ними
            отношения вам просто не отдадут ваш аккаунт.
          </p>
        </div>
        <div class="advantages__item">
          <span class="advantages__name">Командная работа</span>
          <p class="advantages__text">
            Над вашим проектом будет работать команда специалистов. Сами
            настройки — это только часть успеха. Очень важна и «упаковка» вашего
            предложения на сайте. Поэтому и нужно несколько специалистов, чтобы
            обеспечить комплексный подход к вашему бизнесу и взаимоконтроль.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
