<section class="request">
  <section
    class="request"
    id="request"
    style="background-image: url('img/request-bg.jpg')"
  >
    <div class="container">
      <div class="request__top">
        <h2 class="request__title section-title">
          <span class="color-accent">Узнайте,</span>
          <span class="color-gray">как полностью закрыть вопрос</span> <br />
          с клиентами в вашем бизнесе <br />
          за ближайший месяц
        </h2>
        <p class="request__text">
          Закажите бесплатный план продвижения, ведь 75% успеха рекламной
          кампании <br />
          зависит от правильного выбора канала продвижения
        </p>
      </div>

      <div class="request__content">
        <form class="request__form form-request">
          <div class="form-request__end">Спасибо! Заявка отправлена</div>

          <div class="form-request__inner">
            <div class="form-request__progress">
              <span class="form-request__fill"></span>
              <div class="form-request__text">
                Осталось ответить на
                <p><span class="count-steps"> 5</span> вопросов из 6</p>
              </div>
            </div>
            <div class="form-request__steps">
              <div class="form-request__step active">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша? (чем вы занимаетесь)</label
                  >
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button type="button" class="form-request__btn btn btn-next">
                    Продолжить
                  </button>
                </div>
              </div>
              <div class="form-request__step">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша?
                  </label>
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button type="button" class="form-request__btn btn btn-next">
                    Продолжить
                  </button>
                </div>
              </div>
              <div class="form-request__step">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша? (чем вы занимаетесь)</label
                  >
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button type="button" class="form-request__btn btn btn-next">
                    Продолжить
                  </button>
                </div>
              </div>
              <div class="form-request__step">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша? (чем вы занимаетесь)</label
                  >
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button type="button" class="form-request__btn btn btn-next">
                    Продолжить
                  </button>
                </div>
              </div>
              <div class="form-request__step">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша? (чем вы занимаетесь)</label
                  >
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button type="button" class="form-request__btn btn btn-next">
                    Продолжить
                  </button>
                </div>
              </div>
              <div class="form-request__step">
                <div class="form-request__group">
                  <label class="form-request__label" for="name"
                    >Какая у вас ниша? (чем вы занимаетесь)</label
                  >
                  <input
                    class="form-request__input"
                    id="name"
                    type="text"
                    placeholder="Например, ремонт квартир, кухни на заказ, строительство домов и тд."
                    required
                  />
                </div>
                <div class="form-request__btns-group">
                  <button
                    type="button"
                    class="form-request__btn btn submit-btn"
                  >
                    Отправить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
