<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title section-title">
      Послушайте <br />
      <span class="color-gray">что говорят</span>
      <span class="color-accent">наши клиенты</span>
    </h2>
  </div>

  <div class="videos">
    <div class="videos__slider swiper">
      <ul class="videos__slides swiper-wrapper">
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/G66FnDSUJZA?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/o65QaDx5ASI?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <span class="videos-card__name">
              Окупили рекламу на 900%. Продвижение мебельного бизнеса через
              таргет в инстаграм.
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/aEbuTvgww0U?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <span class="videos-card__name">
              Привлечение клиентов в нишу кухни на заказ
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/xOgzzfzMwCQ?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <span class="videos-card__name">
              Привлечение клиентов в нишу мебель на заказ
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Z7KfWMUAOq0?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <span class="videos-card__name">
              Отзыв о привлечении участников на бизнес мероприятие в Москве
            </span>
          </div>
        </li>
      </ul>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="container">
    <div class="reviews__slider swiper">
      <ul class="reviews__slides swiper-wrapper">
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/1.webp" type="image/webp" />
                  <img src="img/reviews/1.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Сергей Белоцерковец</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/id204313205"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Эти ребята обратились ко мне с предложением давать мне лиды в
                моей нише "изготовление корпусной мебель под заказ". По ходу
                дела увидел: работают чётко, без воды. Лиды дают целевые,
                один-два в день.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source
                    srcset="
                      https://sun1-21.userapi.com/s/v1/ig1/CYCj1f1RGgrVipZvDAzSqBWMsFR-03Z-SVTcs9IOZqDOrNrIKA6jCaj16201wiraHbMSSPcb.jpg?size=200x200&quality=96&crop=0,295,1114,1114&ava=1
                    "
                    type="image/webp"
                  />
                  <img
                    src="https://sun1-21.userapi.com/s/v1/ig1/CYCj1f1RGgrVipZvDAzSqBWMsFR-03Z-SVTcs9IOZqDOrNrIKA6jCaj16201wiraHbMSSPcb.jpg?size=200x200&quality=96&crop=0,295,1114,1114&ava=1"
                    alt="img"
                  />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Андрей Столяров</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/pro_rider"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Смело рекомендую! Горячие заявки, за смешные деньги. Спасибо вам
                большое, молодцы.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/2.webp" type="image/webp" />
                  <img src="img/reviews/2.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Максим Шокин</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/shokinmax"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Пробывал тест, на партнерскую программу, все работает, лиды
                приходят, просто я еще не научился продавать, а так рекомендую,
                проверено.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source
                    srcset="
                      https://sun9-47.userapi.com/s/v1/ig2/T43cIxtlBqHp-OL3Bq6Ooflc0Fs6MScG_oHjEn83UrI56mUZULPRUhNXcRut04xQS1QrICdPhmFplxX1pFGY6PoF.jpg?size=400x400&quality=95&crop=0,983,1108,1108&ava=1
                    "
                    type="image/webp"
                  />
                  <img
                    src="https://sun9-47.userapi.com/s/v1/ig2/T43cIxtlBqHp-OL3Bq6Ooflc0Fs6MScG_oHjEn83UrI56mUZULPRUhNXcRut04xQS1QrICdPhmFplxX1pFGY6PoF.jpg?size=400x400&quality=95&crop=0,983,1108,1108&ava=1"
                    alt="img"
                  />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Владимир Пономаренко</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/id24649571"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Хороший сервис, дешево и качественно, ребята молодцы! Дешевле
                рекламы я не встречал
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source
                    srcset="
                      https://sun9-52.userapi.com/s/v1/ig2/d8YZ5wRhsCNOLq5YwB_K0GnueaQTtVV57wwd61sbVynM2-n6bsoAr4pQ7W6KSUr1WhhaLuw7TOj2uKyRvJ4SEk_i.jpg?size=200x200&quality=96&crop=2,21,1022,1022&ava=1
                    "
                    type="image/webp"
                  />
                  <img
                    src="https://sun9-52.userapi.com/s/v1/ig2/d8YZ5wRhsCNOLq5YwB_K0GnueaQTtVV57wwd61sbVynM2-n6bsoAr4pQ7W6KSUr1WhhaLuw7TOj2uKyRvJ4SEk_i.jpg?size=200x200&quality=96&crop=2,21,1022,1022&ava=1"
                    alt="img"
                  />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Ильдар Бадиков</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/vasha_mebel1006"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Работа качественная, за такие деньги это супер. Только плюс за
                работу. Терзали сомнения но они были напрасны. Рекомендую.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source
                    srcset="
                      https://sun9-6.userapi.com/s/v1/if1/sAFGFxyPQ3SgE8rfWqf5z7_6Xc8fwGgd4R_FuGrF8ytvSSJ1ojk1Fplj3oPKFXwIwJx0OJzQ.jpg?size=200x200&quality=96&crop=288,64,735,735&ava=1
                    "
                    type="image/webp"
                  />
                  <img
                    src="https://sun9-6.userapi.com/s/v1/if1/sAFGFxyPQ3SgE8rfWqf5z7_6Xc8fwGgd4R_FuGrF8ytvSSJ1ojk1Fplj3oPKFXwIwJx0OJzQ.jpg?size=200x200&quality=96&crop=288,64,735,735&ava=1"
                    alt="img"
                  />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Никита Ваневский</span>
                <a
                  class="reviews-card__btn btn"
                  href="https://vk.com/prooover"
                  target="_blank"
                >
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>Более полугода работаем. Результатами доволен. 👍🏻</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>

    <div class="cases__bottom">
      <a
        class="cases__more"
        href="https://vk.com/topic-195668190_41761232"
        target="_blank"
      >
        Смотреть <br />
        Все
      </a>
    </div>
  </div>
</section>
