<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title section-title">
      Послушайте <br />
      <span class="color-gray">что говорят</span>
      <span class="color-accent">наши клиенты</span>
    </h2>
  </div>

  <div class="videos">
    <div class="videos__slider swiper">
      <ul class="videos__slides swiper-wrapper">
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <img
                src="https://images.unsplash.com/photo-1678933964986-22090877ccf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img"
              />
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <img
                src="https://images.unsplash.com/photo-1678933964986-22090877ccf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img"
              />
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <img
                src="https://images.unsplash.com/photo-1678933964986-22090877ccf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img"
              />
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <img
                src="https://images.unsplash.com/photo-1678933964986-22090877ccf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img"
              />
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
        <li class="videos__slide swiper-slide">
          <div class="videos-card">
            <div class="videos-card__top">
              <img
                src="https://images.unsplash.com/photo-1678933964986-22090877ccf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img"
              />
            </div>
            <span class="videos-card__name">
              Маркетинг для ниши кухни на заказ в Москве
            </span>
          </div>
        </li>
      </ul>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="container">
    <div class="reviews__slider swiper">
      <ul class="reviews__slides swiper-wrapper">
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/1.webp" type="image/webp" />
                  <img src="img/reviews/1.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Сергей Белоцерковец</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Эти ребята обратились ко мне с предложением давать мне лиды в
                моей нише "изготовление корпусной мебель под заказ". По ходу
                дела увидел: работают чётко, без воды. Лиды дают целевые,
                один-два в день.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/2.webp" type="image/webp" />
                  <img src="img/reviews/2.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Максим Шокин</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Пробывал тест, на партнерскую программу, все работает, лиды
                приходят, просто я еще не научился продавать, а так рекомендую,
                проверено.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/1.webp" type="image/webp" />
                  <img src="img/reviews/1.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Сергей Белоцерковец</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Эти ребята обратились ко мне с предложением давать мне лиды в
                моей нише "изготовление корпусной мебель под заказ". По ходу
                дела увидел: работают чётко, без воды. Лиды дают целевые,
                один-два в день.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/2.webp" type="image/webp" />
                  <img src="img/reviews/2.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Максим Шокин</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Пробывал тест, на партнерскую программу, все работает, лиды
                приходят, просто я еще не научился продавать, а так рекомендую,
                проверено.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/1.webp" type="image/webp" />
                  <img src="img/reviews/1.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Сергей Белоцерковец</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Эти ребята обратились ко мне с предложением давать мне лиды в
                моей нише "изготовление корпусной мебель под заказ". По ходу
                дела увидел: работают чётко, без воды. Лиды дают целевые,
                один-два в день.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <div class="reviews-card__left">
              <div class="reviews-card__img">
                <picture>
                  <source srcset="img/reviews/2.webp" type="image/webp" />
                  <img src="img/reviews/2.png" alt="img" />
                </picture>
              </div>

              <div class="reviews-card__info">
                <span class="reviews-card__name">Максим Шокин</span>
                <a class="reviews-card__btn btn" href="#" target="_blank">
                  Профиль ВК
                </a>
              </div>
            </div>
            <div class="reviews-card__right">
              <p>
                Пробывал тест, на партнерскую программу, все работает, лиды
                приходят, просто я еще не научился продавать, а так рекомендую,
                проверено.
              </p>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
