<section class="services" id="services">
  <div class="container">
    <h2 class="services__title section-title">Наши услуги</h2>

    <ul class="services__list">
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/vk.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Таргетированная <br />
              реклама Вконтакте
            </h3>
            <span class="services-card__number">01</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Привлечем клиентов по минимальной цене. Раскрутим профили
              Вконтакте и наберем аудиторию.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/yandex.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Контекстная реклама <br />
              Яндекс
            </h3>
            <span class="services-card__number">02</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Эффективная настройка контекстной рекламы на ваш сайт (или
              создадим бесплатно сайт) из рекламной системы Яндекс.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/star.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Таргетированная <br />
              реклама Вконтакте
            </h3>
            <span class="services-card__number">01</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Привлечем клиентов по минимальной цене. Раскрутим профили
              Вконтакте и наберем аудиторию.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/click.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Контекстная реклама <br />
              Яндекс
            </h3>
            <span class="services-card__number">02</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Эффективная настройка контекстной рекламы на ваш сайт (или
              создадим бесплатно сайт) из рекламной системы Яндекс.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/vk.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Контекстная реклама <br />
              Яндекс
            </h3>
            <span class="services-card__number">02</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Эффективная настройка контекстной рекламы на ваш сайт (или
              создадим бесплатно сайт) из рекламной системы Яндекс.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/whatsapp.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Контекстная реклама <br />
              Яндекс
            </h3>
            <span class="services-card__number">02</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Эффективная настройка контекстной рекламы на ваш сайт (или
              создадим бесплатно сайт) из рекламной системы Яндекс.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <div class="services-card__icon">
            <img src="img/services-icons/telegram.png" alt="img" />
          </div>
          <div class="services-card__top">
            <h3 class="services-card__title">
              Контекстная реклама <br />
              Яндекс
            </h3>
            <span class="services-card__number">02</span>
          </div>
          <div class="services-card__body">
            <p class="services-card__text">
              Эффективная настройка контекстной рекламы на ваш сайт (или
              создадим бесплатно сайт) из рекламной системы Яндекс.
            </p>
            <div class="services-card__btns">
              <button class="services-card__btn btn" type="button">
                Заказать
              </button>
              <button
                class="services-card__btn btn btn--transparent"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
