<section class="why">
  <div class="container">
    <div class="why__wrapper">
      <h2 class="why__title section-title">
        Почему стоит <br />
        работать с нами?
      </h2>
      <div class="why__text">
        <p>
          Главная причина - наше чёткое понимание что такое
          “клиентоориентированность”. Это не значит всегда и во всём соглашаться
          с клиентом, чтобы угодить и быть удобным.
        </p>
        <p>
          Для нас клиентоориентированность - это сказать правду в интересах
          бизнеса заказчика. Бывают ситуации, когда это сделать очень не просто.
        </p>
      </div>
    </div>
    <div class="why__bottom">
      <a class="why__arrow link-anchor" href="#cases">
        <svg>
          <use xlink:href="img/sprite.svg#chevron"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
